.font1 {
    font-size:1.2em; /*기본 글자의 1.2배*/
    font-weight: bold;
    font-family: "맑은 고딕";
    color: #18709c;
}

.font2 {
    font-size:0.9em; /*기본 글자의 1.2배*/
    font-weight: bold;
    font-family: "궁서체";
    color: #893700;
}