* { list-style: none; margin: 0 auto; padding: 0; 	font-family: Gilroy,Spoqa Han Sans, sans-serif;}
a { text-decoration: none; color: inherit; }

#header {
	border: 0px solid red;
	width: 100%; height: 95px;
	max-width: 1280px;
	display: flex;
}
.logo {
	width: 30%; margin: 0;line-height: 95px; text-align: center;

}
.logo a{
	font-size: 24px;
	letter-spacing: 6px;
	font-weight: normal;
	font-style: normal;
}

.menu-wrap {
	width:70%;margin:0; text-align: right; 
    height: 95px;
    min-height: auto;
    margin:0 auto;
}

.menu {
	float: right;
	text-align: center;
	line-height: 95px;
}

.menu>li {
	float: left;
	text-align: center;
	width: 100px;
	color: #d2d2d2;
}
#imgSlider {
	width: 1280px; height: 430px; position: relative;
	background-size: 100% 100%; margin: 0 auto;
}

#imgSlider .imgs {
	width: 100%; height: 100%;
	overflow: hidden;
	position: relative;
}


#imgSlider .imgs img {
	width: 100%; height: 100%; position: absolute;
	background-size: cover;
}


#contents {
	width: 100%; max-width: 1280px; height: auto; margin:100px auto;
}

.recommand {
	text-align: center; margin-bottom: 30px;
}

#recImgSlider {
	width: 1200px; height: 280px;
 	overflow: hidden; position: relative;
}

#recImgSlider .imgs {
	width: 2000px; height: 280px; position: absolute;
}
#recImgSlider .imgs li { width:280px; height:280px; margin-left:27px; float: left;}
#recImgSlider .imgs img {
	width:280px; height:280px;
}

footer {width:100%; height: 150px; background-color: aliceblue;}