* { list-style: none; margin: 0 auto; padding: 0; 	font-family: Gilroy,Spoqa Han Sans, sans-serif;}
a { text-decoration: none; color: inherit; }

#header {
	border: 0px solid red;
	width: 100%; height: 95px;
	max-width: 1280px;
	display: flex;
}
.logo {
	width: 30%; margin: 0;line-height: 95px; text-align: center;

}
.logo a{
	font-size: 24px;
	letter-spacing: 6px;
	font-weight: normal;
	font-style: normal;
}

.menu-wrap {
	width:70%;margin:0; text-align: right; 
    height: 95px;
    min-height: auto;
    margin:0 auto;
}

.menu {
	float: right;
	text-align: center;
	line-height: 95px;
}

.menu>li {
	float: left;
	text-align: center;
	width: 100px;
	color: #d2d2d2;
}
#imgSlider {
	width: 1280px; height: 430px; position: relative;
	background-size: 100% 100%; margin: 0 auto;
}

#imgSlider .imgs {
	width: 100%; height: 100%;
	overflow: hidden;
	position: relative;
}


#imgSlider .imgs img {
	width: 100%; height: 100%; position: absolute;
	background-size: cover;
}


#contents {
	width: 100%; max-width: 1280px; height: auto; margin:100px auto;
}

.recommand {
	text-align: center; margin-bottom: 30px;
}

#recImgSlider {
	width: 1200px; height: 280px;
 	overflow: hidden; position: relative;
}

#recImgSlider .imgs {
	width: 2000px; height: 280px; position: absolute;
}
#recImgSlider .imgs li { width:280px; height:280px; margin-left:20px; float: left;}
#recImgSlider .imgs img {
	width:280px; height:280px;
}

#recImgSlider .imgs a {
	position: absolute;
	z-index: 10;
	display: block;
	width:280px;
	height: 280px;
}
#recImgSlider .imgs a:after {
	display: block;
	position: absolute;
	left:0; top: 0;
	width: 100%; height: 100%;
	background: #000; opacity: 0.5;
	content: '';
}

.thum_pic {
	width:280px;text-align:center
}
.thum_pic img {
	display:inline-block;width:auto;height:100%
}
.tag { 
	position:absolute;
	top:0; left:0;
	display:block;
	overflow:hidden;
	z-index:1}

.tag_square {
	float:left;
	width:55px;
	height:55px;
	font-size:12px;
	color:#fff; 
	word-break: keep-all;
	text-align:center }

.tag_square span {
	display: table-cell;
	width: 55px;
	height: 55px;
	vertical-align: middle;
}
.tag .dmt {
	background: #e67f4c;
}

.tag .ovs { background: #5778bb }

.tag {
	position: absolute;
	top:0;
	left: 0;
	display: block;
	overflow: hidden;
	z-index: 1;
}

.pdt_list_info{
	position:absolute;bottom:0;left:0;height:auto;border:none;text-align:left;box-sizing:border-box;z-index:2;
	color:#fff; font-size: 1.2em; padding:15px 15px 10px;
}
.tit_list_block{
	list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: normal;
    min-height: 48px;
    max-height: 48px;
    line-height: 24px;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
    height: 48px;
    color: #fff;
    margin-bottom: 10px;
}
.list_price {
    font-size: 20px;
    word-break: break-all;
    font-weight: normal;
    list-style: none;
    color: inherit;
    position: relative;
    display: block;
    text-align: right;
}
footer {width:100%; height: 150px; background-color: aliceblue;}